/* https://css-tricks.com/box-sizing/ */

html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }

body {
	margin: 0;
	line-height: 1.6;
	background-color: #EBEBEB;

}

.content-limiter {
  width: 1002px;
  margin: 0 auto;
}

h2 {
	margin: 0;
}

h3 {
	margin: 0;
}

p {
	margin: 0;
}

.h2-link {
	font-family: "Frank Ruhl Libre";
	font-size: 32px;
	font-style: normal;
	font-weight: 900;
	line-height: 41px;
	letter-spacing: -0.02em;
	text-align: center;	
	color: #FFFFFF;
}
.h2-link a {
	color: #FFFFFF;
	text-decoration: none;
}
.h2-link a:hover {
	text-decoration: underline;
}

.h2-link a:visited {
	color: #FFFFFF;
}

/* Tre översta rutorna */

.entry {
	height: 544px;
	display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "left right-top"
	"left right-bottom"
}

.entry .box1 .standardText{
	margin-top: 0;
    margin-bottom: 56px;    
	width: 268px;
} 

.entry .box2 .h5, .entry .box3 .h5 {
	margin: 0%;
}

.box1 {
	background-image: url(/img/family.png);
	background-size: 279px 286px;
	background-repeat: no-repeat;
	background-position: bottom right;
	grid-area: left;
	background-color: #C7DDEA;
	padding: 71px 82px 0px 105px;
}

.link-button {
	background-color:#FFFFFF;
    padding: 13px 48px 14px 48px;
    border-radius:100px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-decoration: none;
}

.h1 {
	font-family: "Fran Ruhl Libre";
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
    margin-bottom: 11px;
    margin-top: 0px;
}

.h1-white {
	font-family: "Fran Ruhl Libre";
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: -0.02em;
	color: white;
	margin-top: 0px;
	margin-bottom: 62px;
}


.h4{
	font-family: "Frank Ruhl Libre";
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	margin: 0 auto;
}

.h5 {
	font-family: "Fira Sans";
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: 13px;
	letter-spacing: -0.02em;
	text-align: center;
	color: rgba(0, 0, 0, 0.5);
}

.h5-description {
	font-family: Fira Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 18px;
	text-align: center;
	color: rgba(0, 0, 0, 0.4);
	margin-left: 21px;
	margin-right: 21px;
}

.main-top {
	height: 612px;
	background: #A9A19E;
	padding-top: 103px;
	padding-left: 90px;
	padding-right: 90px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.main-bottom {
	background: #FAB131;
	padding-top: 187px;
	text-align: center;
	padding-left: 281px;
	padding-right: 279px;
	padding-bottom: 170px;
}

.main-top-leftbox{
	width: 314px;
	height: 140px;
	

}

.link-button {
	background-color:#FFFFFF;
    padding: 13px 48px 14px 48px;
    border-radius:100px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Fira Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
	text-decoration: none;
	margin-top: 10px;

}

.main-top-rightbox{
	width: 280px;
	height: 237px;
}

.feature-left, .feature-right, .feature-middle{

	width: 256px;
	height: 308px;
	background: white;
	margin-bottom: 0;
	position: relative;
	bottom: -95px;
}

.picture-left{
	width: 236px;
	height: 150px;
	background: #C7DDEA;
	border-radius: 4px;
	background-image: url(/img/child.png);
	background-size: 84px 155px;
	background-repeat: no-repeat;
	background-position: center 12px;
	position: relative;
	top: -26px;
	margin: 0 auto;

}

.picture-middle{
	width: 236px;
	height: 150px;
	background: #FAB131;
	border-radius: 4px;
	background-image: url(/img/adult.png);
	background-size: 84px 155px;
	background-repeat: no-repeat;
	background-position: center 12px;
	position: relative;
	top: -26px;
	margin: 0 auto;
}

.picture-right{
	width: 236px;
	height: 150px;
	background: #F17949;
	border-radius: 4px;
	background-image: url(/img/old.png);
	background-size: 84px 155px;
	background-repeat: no-repeat;
	background-position: center 12px;
	position: relative;
	top: -26px;
	margin: 0 auto;
}

.boxes {
display: flex;
flex-wrap: wrap;
}

.box-general{
	width: 334px;
	height: 340px;
	background-color: yellowgreen;
	border: #000000;
}

.box01{
	background: #C7DDEA;
}

.box02{
	background: #FFFFFF
}

.box03{
	background: #EBEBEB
}

.box04{
	background: #FFFFFF
}

.box05{
	background: #F17949;
}

.box06{
	background: #FFFFFF
}

.boxes h1{
text-align: center;
margin-top: 119px;
}

.counter {
	padding: 33px 25px;
	font-family: "Frank Ruhl Libre";
	font-style: normal;
	font-weight: 900;
	font-size: 35px;
	line-height: 100%;
	/* or 35px */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.02em;

	color: rgba(0, 0, 0, 0.4);
}

.boxtext {

	font-family: "Fira Sans";
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
    padding: 45px 0;
}


.box1 section h5 div {
	display: inline-block;
}

.box2 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #F17949;
	grid-area: right-top;
	
}

.box3 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #FAB131;
	grid-area: right-bottom;
	
}

/* Navigationsbaren */

.navbar {
	background-color: #EBEBEB;
	display: flex; 
	justify-content: center;

}
.navbar .nav-item {
	width: 167px;
	text-align: center;
	display: flex;
	height: 57px;
	align-items: center;
	justify-content: center;

}
.navbar a.nav-item {
	font-family: "Fira Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: -0.02em;
	color: #000000;
	opacity: 0.4;
	text-decoration: none;
}
.navbar a.nav-item:hover {
	text-decoration: underline;
}

/*Go to the navbar, find an "a element" that has a nav-item class and active class*/
.navbar a.nav-item.active {
	opacity: 1;
}

/* Footer vid slutet av dokumentet*/

.express-link-area{
	width: 1002px;
	height: 68px;
	background: #A9A19E;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image-arrow{
	background-image: url(/img/Vector.png);
	background-repeat: no-repeat;
	height: 8px;
	width: 16px;
}


.link-button-takemeup{
	font-family: "Fira Sans";
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
}

.footer{
height: 340px;
background: #777574;

}
.standardText {
	font-family: "Fira Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.standardText-v2 {
	font-family: "Fira Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
	color: rgba(0, 0, 0, 0.6);
}

.standardText-v3{
	font-family: "Fira Sans";
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	color: rgba(0, 0, 0, 0.7);
}
.whiteText {
	color: white;
	white-space: pre;
}

@media (max-width: 1002px) {
	.content-limiter {
		width: 100%;
	}

	.entry {
		display: block;
		height: auto;
	}

	.box1{
		height: 724px;
		padding: 71px 16px 0;
	}
	
	.box2, .box3{
		height: 315px;

	}

	.main-top{ 
		padding: 37px 16px 0;
		height: auto; 
	}

	.main-top-leftbox, .main-top-rightbox{
		height: auto;
	}

	.hide-mobile {
		display: none;
	}

	.h1-white {
		margin-bottom: 20px;
	}

	.feature-left, .feature-right, .feature-middle {
		position: static;
		bottom: 0;
		height: auto;
		margin: 0 auto 60px;
	}

	.main-top-rightbox {
		margin-bottom: 60px;
	}

	.main-bottom {
		height: auto;
		padding: 40px 16px
	}

	.box-general {
		height: 170px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		position: relative;
	}
	.boxes h1 {
		margin: 0px;
	}

	.box-general > .counter {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		height: 60px;
		width: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

}