body {
	margin: 0;
}

h3 {
	margin: 0;
}

p {
	margin: 0;
}

/* Begränsar området med innehåll till 80% av skärmen */
#wrappper { 
  margin-right: 10%; 
  margin-left: 10%; 
}

/* Tre översta rutorna */
#entry {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(120px, auto);
  grid-template-areas: 
  'covered covered learnMore learnMore'
  'covered covered learnMore learnMore'
  'covered covered joinToday joinToday'
  'covered covered joinToday joinToday';
  text-align: center;
  word-wrap: break-word;
}

.box1 {
  background-color: #C7DDEA;
  grid-area: covered;
  padding: 20px 0;
  font-size: 30px;
}

.box2 {
  background-color: #F17949;
  grid-area: learnMore;
  padding: 20px 0;
  font-size: 30px;
}
.box3 {
  background-color: #FAB131;
  grid-area: joinToday;
  padding: 20px 0;
  font-size: 30px;
}

/* Navigationsbaren */
#navbar {
  background-color: white; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#navbar li {
  display: inline-block;
  padding: 40px;
}

#navbar li a {
  font-size: 20px;
  text-decoration: none;
  font-family: arial;
  color: #47433a;
  font-weight: 600;
}

/* Main */ 
#main {
  display: flex;
  background: linear-gradient(to bottom, #A8A19E 0%,#A8A19E 50%, #FAB131 50%,#FAB131 100%);
  width: 100%;
  height: 600px;
}

.mainItem {
  width: 100%;
}

#main div:nth-of-type(1) {
  grid-area: mainItem1
}

#main div:nth-of-type(2) {
  grid-area: mainItem2
}
#main div:nth-of-type(3) {
  grid-area: mainItem3
}

#main div:nth-of-type(4) {
  grid-area: mainItem4
}

#main div:nth-of-type(5) {
  grid-area: mainItem5
}

#main div:nth-of-type(6) {
  grid-area: mainItem6
}

/* Sex lådorna undertill */
.six-boxes {
  display: grid;
  grid-auto-rows: minmax(28rem, auto);
  grid-auto-columns: 1fr;
  grid-template-areas: 
  'zeroBox firstBox secondBox'
  'thirdBox fourthBox fifthBox';
}

.six-boxes > div {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
}

.six-boxes > div > h3 {
	font-size: 3rem;
	margin: 8% auto 0 8%;
	color: #8c8d8c;
}

.six-boxes > div > p {
	text-align: center;
	font-size: 1.5rem;
	max-width: 20em;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	opacity: 0.7;
}

.six-boxes > div > div {
	width: calc(3rem + 8%);
	height: calc(3rem + 8%);
}

.six-boxes > div:nth-of-type(1) {
  background-color: #C7DDEA;
  grid-area: zeroBox;
  justify-content: center;
}

.six-boxes > div > h2 {
	font-size: 5rem;
	width: 3em;
	color: #292c2f;
}

.six-boxes > div:nth-of-type(2) {
  background-color: white;
  grid-area: firstBox;
}

.six-boxes > div:nth-of-type(3) {
  background-color: lightgrey;
  grid-area: secondBox;
}

.six-boxes > div:nth-of-type(4) {
  background-color: white;
  grid-area: thirdBox;
}

.six-boxes > div:nth-of-type(5) {
  background-color: #F17949;;
  grid-area: fourthBox;
}

.six-boxes > div:nth-of-type(6) {
  background-color: white;
  grid-area: fifthBox;
}

/* Footer vid slutet av dokumentet*/
#takeMeBack {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
}

#takeMeBack button {
  border: none;
  width: 100%;
  background-color: #A9A19E
}

#takeMeBack button:hover {
  cursor: pointer;
}

#arrow {
  border: solid black;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: 15px;
}

#end {
  width: 100%;
  height: 200px;
  background-color: #777574;
}

/* Komponenter */
.standardText {
  font-size: 20px;
  text-decoration: none;
  font-family: arial;
  color: #47433a;
  font-weight: 600;
}

.whiteText {
  color: white;
  white-space: pre;
}

.distanceRemover {
  margin-top: -25px;
}

.textVertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 25vh;
}

.pillButton {
  background-color:white;
  border: none;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pillButton:hover {
  background-color: #f1f1f1;
}

/* Media queries för responsivitet */

@media (max-width: 1300px) {
	html {
		font-size: 1.1vw
	}
}

@media (max-width: 1000px) {
  #contentLimiter {
    margin-right: 0%; 
    margin-left: 0%; 
  }
  
  #entry {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas:
      'covered'
      'learnMore'
      'joinToday';
  }
  #navbar {
    display: none;
  }
  .six-boxes {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(30rem, auto);
    grid-template-areas:
      'zeroBox'
      'firstBox'
      'secondBox'
      'thirdBox'
      'fourthBox'
      'fifthBox'
   }
   #takeMeBack {
     display: none;
   }
}